<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New Wall</title>
</head>
<body>
    <h1>Admin page</h1>
    {% for user in users %}
      <p>{{ user.email }}</p>
      <p>{{ user.first_name }} {{ user.last_name }}</p>
      <p>{{ user.password }}</p>
      <form class="" action="{% url 'delete' user_id=user.id %}" method="post">
         {% csrf_token %}
         <input type="submit" value="Delete">
      </form>
    {% endfor %}
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
