<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New Wall</title>
</head>
<body>
    <h1>Dashboard page</h1>
    {% for post in posts %}
      <p>{{ post.post }}</p>
      <p>{{ post.user.first_name }} {{ post.user.last_name }}</p>
      <p>{{ post.id }}</p>

    {% endfor %}
    <form class="" action="{% url 'add_post' %}" method="post">
       {% csrf_token %}
       {{form.as_p}}
       <input type="submit" value="post">
    </form>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>
